* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #111;
    color: white;
}

.navbar {
    width: 100%;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
}

.logo {
    color: orange;
    font-size: 32px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: orange;
}

.hero {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 50px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-text button {
    padding: 15px 35px;
    border: none;
    background: orange;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    transform: scale(1.05);
}

.hero-image img {
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 0 25px orange;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 30px;

    padding: 40px;
}

.card {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 180px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: orange;
    color: black;
}

.card h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 50px;
    }

    .hero-image img {
        width: 100%;
        max-width: 400px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }
}